<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snapchat">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Screens.EditImg.EditorMain"
            android:label="@string/title_activity_editor_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Screens.EditImage.EditImage" />
        <activity
            android:name=".Screens.Home"
            android:exported="true" />
        <activity android:name=".Screens.GroupChatActivity" />
        <activity android:name=".Screens.ChatActivity" />
        <activity
            android:name=".Screens.Home"
            android:exported="true" />
        <activity android:name=".Screens.SignIn" />
        <activity
            android:name=".Screens.SignUp.SignUp_Phone"
            android:exported="true" />
        <activity
            android:name=".Screens.SignUp.SignUp_Email"
            android:exported="true" />
        <activity
            android:name=".Screens.SignUp.SignUp_Password"
            android:exported="true" />
        <activity
            android:name=".Screens.SignUp.SignUp_Username"
            android:exported="true" />
        <activity
            android:name=".Screens.SignUp.SignUp_Birthday"
            android:exported="true" />
        <activity
            android:name=".Screens.SignUp.SignUp_Name"
            android:exported="true" />
        <activity
            android:name=".Screens.Snap"
            android:exported="true" />
        <activity android:name=".Screens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>